<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="expire url" value="Expire.aspx" />
    <add key="EmailServer" value="smtpout.secureserver.net" />
    <add key="EmailServerPort" value="25" />
    <add key="EmailFromAddress" value="Register@DowntimeCollectionSolutions.com" />
    <add key="EmailSenderDisplayName" value="Downtime collection solution" />
    <add key="EmailSenderAddress" value="Register@DowntimeCollectionSolutions.com" />
    <add key="EmailUser" value="Register@DowntimeCollectionSolutions.com" />
    <add key="EmailPassword" value="Password01" />
    <add key="SendEmails" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="default" connectionString="Data Source=ThriveDCSDB.cloudapp.net;Initial Catalog=thrivedcs;User Id=thrive_admin_server;Password=Pr|&lt;(_12PV8^)$*" providerName="System.Data.SqlClient" />
    <add name="DB" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ThriveDCSDB.cloudapp.net;Initial Catalog=thrivedcs;User=thrive_admin_server;Password=Pr|&lt;(_12PV8^)$*;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="SqlProvider">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="default" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="DCSDemo" requiresUniqueEmail="false" passwordFormat="Encrypted" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES_DCSDemo" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="default" applicationName="DCSDemo" />
      </providers>
    </roleManager>
    <profile enabled="true" defaultProvider="SqlProvider" automaticSaveEnabled="false">
      <providers>
        <clear />
        <add name="SqlProvider" connectionStringName="default" applicationName="DCSDemo" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
      <properties>
        <add name="Name" type="string" />
        <add name="ExpireDate" type="DateTime" />
        <add name="Phone" type="string" />
        <add name="ActiveCode" type="string" />
        <add name="SentMail" type="Boolean" />
      </properties>
    </profile>
    <compilation>
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name=".ASPXAUTH_DCSDemo" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="2880" />
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        -->
    <customErrors mode="Off">
      <!--<error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/> -->
    </customErrors>
    <machineKey validationKey="EED0FC0B8EDA836D7D8A33E73EF209A85693B7802298C6A467814C15CAB1BCF4A9D7FCD819C0B7C3E0A6FA19B822D2A9B21ECF168BC41349791CCD4D809C4AAE" decryptionKey="F0A35B55A2503933797FEF187F671E0E1C18A1C3A7595E44" validation="SHA1" decryption="3DES" />
    <pages clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <location path="DCSDashboardDemo.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="DCSDemo.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="DCSDemoReasonCodes.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ExportXLS.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ManualCC.aspx">
    <system.web>
      <authorization>
        <allow users="lebelge" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>